nav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 16px #000;
    z-index: 1;
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li a {
    display: block;
    padding: 12px 16px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

ul.topnav li a.logo {
    padding: 6px 16px;
    font-size: 24px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-color: #92070E;
    text-shadow: 0 0 0.5px #000, 0 0 2px #111, 0 0 4px #222;
}

ul.topnav li a.logo {
    cursor: pointer;
}

ul.topnav li a:hover:not(.active):not(.logo) {
    cursor: pointer;
    background-color: #555;
}

ul.topnav li a.active {
    cursor: default;
    background-color: #000;
    pointer-events: none;
}

ul.topnav li.search {
    align-self: center;
    padding: 0 16px;
}

ul.topnav li button:hover {
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}

ul.topnav li input {
    color: #fff;
    background-color: #333;
    border: none;
    border-bottom: 1.5px solid #fff;
}

@media screen and (max-width: 600px) {
    // ul.topnav li.right, 
    // ul.topnav li {}
}