<nav>
    <ul class="topnav">
        <li>
            <a href="#home">NITFLEX</a>
        </li>
        <li>
            <a href="#movies">Movies</a>
        </li>
        <li>
            <a href="#tv-shows">TV Shows</a>
        </li>
        <li  style="flex-grow: 1"></li>
        <li class="search">
            <!--div style="position:relative">
                <input (focus)="onFocus()" (blur)="onBlur()" (keyup)="getResults('movie', query)" [(ngModel)]="query" name="search" placeholder="Search" autocomplete="off">
                        <app-datalist (selectEvent)="onSelect($event)" (mouseEvent)="onMouse($event)" [results]="results" [hidden]="hideDataList()"></app-datalist>
            </div>
            <button>Search</button-->
            <app-search-field></app-search-field>
        </li>
    </ul>
</nav>
