.title {
    display: flex;
}

.title button {
    width: 46.4px;
    margin-left: -15px;
    border: none;
    color: #fff;
    background-color: #000;
    font-size: 28px;
}

.hidden {
    visibility: hidden;
    display: none;
}

div.row img {
    margin-bottom: 15px;
}