li {
    height: 40px;
    line-height: 28px;
    padding: 0;
    color: #ddd;
    background-color: #333;
}

ul{
    background-color: #ddd;
}

a {
    width: auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 12px;
}

a:hover {
    cursor: pointer;
    background-color: #222;
}

div {
    padding: 0;
}

:host {
    top: 40px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    width: 226px;
    max-height: 234px;
}
