li {
    height: 50px;
    padding: 0;
}

a {
    width: 200px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: 12px;
}

div {
    padding: 0;
}

:host {
    top: 40px;
    background-color: #eee;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    width: 226px;
    max-height: 246px;
}
